<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Parking Pal</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">Setup</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/camera-guide">Camera guide</a>
      </li>
    </ul>
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/beeman"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
    </ul> -->
  </div>
</nav>