<div class="container">
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <h3>Add the buildings below</h3>
            <p>Please enter the name and coordiantes in decimal notation for the buildings. Parking lots are allotted once the user requests parking for a particular destination building.</p>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                    <tr *ngFor="let building of buildings">
                        <td><input type="text" name="name[]" [(ngModel)]="building.name" placeholder="Name" form="plotform"></td>
                        <td><input type="number" name="lat[]" [(ngModel)]="building.latitude" form="plotform"></td>
                        <td><input type="number" name="long[]" [(ngModel)]="building.longitude" form="plotform"></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" type="button" (click)="addrow()" >+ Add a building</button>
            <button style="margin-left: 20px" class="btn btn-success" (click)="finish()" >Next</button>
        </div>
    </div>
</div>