<div class="container">
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <h1>Parking Pal</h1>
            <p style="color: gray">Intelligent parking solutions</p>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Parking Lots</h3>
                    <!-- <div class="col-sm-4" > -->
                        <div class="card-columns">
                            <div class="card" *ngFor="let plot of plots">
                                <div class="card-body">
                                    <h4 class="card-title">{{plot.name}}</h4>
                                    <div class="card-text">
                                    <table class="table table-sm table-borderless" style="display: inline-block;">
                                        <tbody>
                                            <tr>
                                                <td>Location:</td>
                                                <td>{{plot.lat}}, {{plot.long}}</td>
                                            </tr>
                                            <tr>
                                                <td>Capacity:</td>
                                                <td>{{plot.capacity}}</td>
                                            </tr>
                                            <tr>
                                                <td>Free spaces:</td>
                                                <!-- <td>{{plot.freespace}}</td> -->
                                                <td>
                                                    <ul>
                                                        <li *ngFor="let freespace of plot.freespace">
                                                            {{freespace.name}}: {{freespace.capacity}}
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="col-sm-12" style="min-height: 500px;">
                    <h3>Request parking</h3>
                    Select destination: <select id="destination_select">
                        <option *ngFor="let dest of destinations" [value]="dest.id">{{dest.name}}</option>
                    </select>
                    Select type of parking space: <select id="group_select">
                        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                    </select>
                    <!-- <input type="number" id="blat" value="37.3652" style="display: none;">
                    <input type="number" id="blng" value="37.3652" style="display: none;">
                    <input type="number" id="elat" value="37.6652" style="display: none;">
                    <input type="number" id="elng" value="37.6652" style="display: none;"> -->
                    <input type="number" id="blat" [value]="parkingdata.p_lot.lat" style="display: none;">
                    <input type="number" id="blng" [value]="parkingdata.p_lot.long" style="display: none;">
                    <input type="number" id="elat" [value]="parkingdata.dest.lat" style="display: none;">
                    <input type="number" id="elng" [value]="parkingdata.dest.long" style="display: none;">
                    <button class="btn btn-success" (click)="getparking()" style="margin-left: 20px;">Go</button>
                    <button class="btn btn-success" id="navbtn" style="margin-left: 20px;">Navigate from parking lot to destination</button>
                    <div class="card" style="display: none; margin: 3px" id="resultbox">
                        <div class="card-body">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <td>Parking space:</td>
                                        <td>{{parkingdata.parkingspace.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Parking lot:</td>
                                        <td>{{parkingdata.p_lot.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="map" style="height:100%;margin-top:3px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>