<div class="container">
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <h3>Setup</h3>
            <p>Please enter labels for parking spaces marked on the image. You may select the parking lot from below.</p>
            <ul>
                <li *ngFor="let lot of lots" (click)="setlabel(lot.id)">
                    <a>{{lot.name}}</a>
                </li>
            </ul>
            <div class="row" style="display: none;" id="pspace-div">
                <div class="col-sm-6">
                    <img [src]="ImageLink" id="plotimage">
                </div>
                <div class="col-sm-4">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <th>Label</th>
                            </tr>
                            <tr *ngFor="let pspace of pspaces">
                                <td>{{pspace.id}}</td>
                                <td><input type="text" [(ngModel)]="pspace.name"></td>
                            </tr>
                        </tbody>
                    </table>
                    <button style="margin-left: 20px" class="btn btn-success" type="button" (click)="finish()" >Update</button>
                </div>
            </div>
        </div>
    </div>
</div>