<div class="container">
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <h3>Setup</h3>
            <p>Please enter labels for parking spaces marked on the image. You may select the parking lot from below.</p>
            <ul>
                <li *ngFor="let lot of lots" (click)="setlabel(lot.id)">
                    <a style="cursor: pointer;">{{lot.name}}</a>
                </li>
            </ul>
            <div style="display: none;" id="pspace-div">
                <div style="margin: 5px;">
                    <img [src]="ImageLink" id="plotimage" style="">
                </div>
                <div style="margin: 5px;">
                    <table class="table table-striped" style="">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <th>Label</th>
                                <th>Group</th>
                            </tr>
                            <tr *ngFor="let pspace of pspaces">
                                <td>{{pspace.id}}</td>
                                <td><input type="text" [(ngModel)]="pspace.name"></td>
                                <!-- <td><input type="text" [(ngModel)]="pspace.group"></td> -->
                                <td><select [(ngModel)]="pspace.group">
                                    <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                                </select></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div><button style="margin-left: 20px" class="btn btn-success" type="button" (click)="finish()" >Update</button></div>
                <div><button style="margin-left: 20px" class="btn btn-success" type="button" (click)="finish_setup()" >Finish</button></div>
            </div>
        </div>
    </div>
</div>